src/main/mule/mule-batch-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1ebd8da6-c08a-419a-a3a5-572c0cd3193b">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-batch-exampleFlow" doc:id="8dd44a57-559e-4ce4-b5ab-61c4f6d61d85" >
		
		<http:listener doc:name="Listener" doc:id="63bd9a36-c684-44ca-b67b-c6c8d286ee5b" config-ref="HTTP_Listener_config" path="/testBatch"/>
		
		<logger level="INFO" doc:name="Logger" doc:id="fbb27d3f-7ae8-4460-8423-8f696fb099bf" message="Example to demonstrate Batch Processing in Mule!"/>
		
		<!-- Set Dummy Payload to use it in Batch -->
				<ee:transform doc:name="Transform Message" doc:id="c4851bf9-44df-4c8f-ac99-8204505b2aef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[
	{
		"id": 1,
		"name": 'ABC'
	},{
		"id": 2,
		"name": 'DEF'
	},{
		"id": 3,
		"name": 'GHI'
	},{
		"id": 4,
		"name": 'JKL'
	},{
		"id": 5,
		"name": 'MNO'
	},{
		"id": 6,
		"name": 'PQR'
	}
	
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" doc:name="Logger" doc:id="86b13d33-859d-4aad-b498-c6ed0cf4b192" message="#[payload]"/>
		
		<batch:job jobName="Batch_Job" doc:id="01ce5a4b-7e27-4413-92da-919432d94273" >
			<batch:process-records >
				<batch:step name="Batch_Step-1" doc:id="1d56d123-a28c-49e9-83e2-98c4adac2580" >
					<logger level="INFO" doc:name="Logger" doc:id="96a5febe-0541-43a7-82b9-75d87d6d8953" message="#['Processing batch step-1 with id - ' ++ payload.id]"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="7f655a9f-4c47-44eb-ad12-e1dddfd461ea" size="3">
						<logger level="INFO" doc:name="Logger" doc:id="4797fad6-ab86-431b-b497-011350b46100" message="#[payload]"/>
					</batch:aggregator>
					<set-variable value="#[payload.name]" doc:name="Set Name" doc:id="8500be50-fdeb-4f72-8b4b-919d19c22b2f" variableName="name"/>
					<logger level="INFO" doc:name="Logger" doc:id="31246455-410a-47d1-9a07-5ba0a4fe2ae0" message="#['Value of variable name - ' ++ vars.name]"/>
				</batch:step>
				<batch:step name="Batch_Step-2" doc:id="fadc73b3-4a81-49b9-b292-f241201c87f9" >
					<logger level="INFO" doc:name="Logger" doc:id="d2ad3688-5653-4e0d-bc2f-ba72532ffbc1" message="#['Processing batch step-2 with id - ' ++ payload.id]" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="598a5f2a-1867-4fb3-9f32-24e042c1b126" message="Executing On-Complete Phase"/>
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="295fe22d-fdb4-458f-83d0-ea08c4d6ad39" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
